
@{
    ViewBag.Title = "Barclaycard";
}



<div class="jumbotron">
    <h1>BarclayCard</h1>
    <p class="lead">We think you'd suit a BarclayCard credit card!</p>
    <img src="~/Images/barclay-initial-2018.png" alt="barcCard" width="300" height="200">
    <p class="lead">With it's low APR this card is great for those that love to get on with their day while not letting cash flow hold them back!</p>
    <p>typical 5.6% APR</p>
    <div>@Html.ActionLink("Home", "Index", "Home")</div>
</div>
