@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pre-Qualification Tool</h1>
    <p class="lead">Use this tool to see which of our credit cards you may be eligible for</p>    
    <div>@Html.ActionLink("Apply", "Apply", "Home")</div>
    
    
</div>

