
@{
    ViewBag.Title = "NoCard";
}

<div class="jumbotron">
    <h1>Not just yet!</h1>
    <p class="lead">Sorry you are not currently eligable for a credit/debit card at this moment in time</p>  
       
    <div>@Html.ActionLink("Home", "Index", "Home")</div>
</div>

