
@{
    ViewBag.Title = "Vanquis";
}

<div class="jumbotron">
    <h1>Vanquis</h1>
    <p class="lead">We think you'd suit a Vanquis credit card!</p>
    <img src="~/Images/credit_card_flat.png" alt="vanCard" width="300" height="200">
    <p class="lead">With it's zero APR for 6 months from the first purchase this card is great for those that like flexibility and time to pay back!</p>
    <p>typical 10% APR</p>
    <div>@Html.ActionLink("Home", "Index", "Home")</div>
</div>

